{% extends 'trafficheader.html.twig' %}

{% block body %}
	{% block content %}

		<h3>
			{{ pimcore_input("Entertext") }}
		</h3>

		{{ pimcore_image("image") }}


	{% endblock %}
{% endblock %}
